# Ignore all CSV files in movie_data except specific ones
!movie_data/
movie_data/*
!movie_data/credits.csv
!movie_data/movies_metadata.csv
!movie_data/ratings_small.csv

__pycache__
*.pyc
*.pyo
.git
*.gitignore
*.env

